<div class="container">
    <div class='jumbotron' ng-controller="tc">

        <form>
            <div class="input-group col-lg-4">
                <!-- <input id="email" type="text" class="form-control input-lg" ng-model="login_info.username"> -->
                <input id="test" type="text" class="form-control input-lg" ng-model="route_test_data.name" ng-init="route_test_data.name='Bob'">
            </div><br>
            <!-- BUTTON -->
            <button type="submit" class="btn btn-warning btn-lg" ng-click="backendTest()">Submit</button>

        </form>
    </div>
</div>

<style>
    body {
        /*background-color: white*/
    }
</style>
